html
{
   padding: 0;
   margin: 0;
   height: auto;
   width: 100%;
   background-color: #000000;
}


body
{
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

*
{
    box-sizing: border-box;
}

.header
{
    height: 70px;
    width: 100%;
    background-color: #B22222;
}


.footer
{
    height: auto;
    width: 100%;
    padding: 5px 35%;
    background-color: #696969;
    border: 1px solid #000000;
    text-align: justify;
    color: #FFFFFF;
    font-size: 1em;
    font-style: normal;
    font-family: "Times New Roman", Serif;
    display: block;
    vertical-align: bottom;
}

@media only screen and (min-height: 679px)
{
    .header {
        margin-bottom: 12px;
    }
    .footer {
        margin-top: 12px;
    }
}


@media only screen and (min-height: 703px)
{
    .header {
        margin-bottom: 24px;
    }
    .footer {
        margin-top: 24px;
    }
}


.image
{
    margin: 3px 0 3px 2%;
    cursor: pointer;
}


.news-widget
{
    height: 482px;
    width: 50%;
    margin: 20px 11% 20px 2%;
    padding: 5px 2% 5px 2%;
    color: #FFFFFF;
    background-color: #B22222;
    border: 1px solid #FFFAF0;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: inline-block;
    overflow: auto;
    font-size: 1.1em;
    font-family: serif;
}


.login-widget
{
    height: auto;
    width: 25%;
    background-color: #FFFFFF;
    margin-top: 80px;
    margin-left: 8%;
    margin-right: 4%;
    border: 1px solid #DCDCDC;
    padding: 10px 2%;
    vertical-align: top;
    display: inline-block;
    overflow: auto;
}

@media only screen and (max-width: 600px)
{
    .news-widget {
        width: 90%;
        margin: 12px 5% 6px 5%;
    }

    .login-widget {
        width: 90%;
        margin: 6px 5%;
    }

    .footer {
        margin-top: 470px;
        padding: 2px 14%;
    }
}

.login-label
{
    width: 100%;
    margin-top: 20px;
    font-size: 1.2em;
    font-style: normal;
    font-family: "Courier New", Monospace;
}


.username-label, .password-label
{
    width: 100%;
    margin: 40px 0 0 0;
    font-size: 1em;
    font-weight: thin;
    font-family: "Courier New", Monospace;
}

input[type="text"], input[type="password"], .username, .password
{
    width: 100%;
    height: 35px;
    display: block;
}


.login-button
{
    width: 100%;
    border: 1px solid #000000;
    font-family: "Courier New", Monospace;
    font-style: normal;
    font-size: 1em;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    background: #B22222;
}


.incorrect_label
{
    width: 100%;
    color: red;
    font-size: 1em;
    font-style: normal;
    font-weight: thin;
    font-family: "Times New Roman", Serif;
    margin-left: 20%;
}


.footer p
{
    text-indent: 40%;
}



.background
{
    margin: 0;
    height: 659px;
    width: 100%;
    padding: 40px 20%;
    background-color: #FFF5EE;
}


.welcome-widget
{
    height: 400px;
    width: 60%;
    color: #000000;
    font-size: 3em;
    font-weight: solid;
    font-style: normal;
    line-height: 0.5em;
    font-family: "Times New Roman";
    margin: 40px 20%;
    text-align: center;
    display: block
}

.continue-button
{
    width: 50%;
    color: #000000;
    background: green;
    margin: 40px 25%;
    display: block;
}


.lastname-label
{
    text-align: left;
    margin-top: 3px;
    margin-right: 2%;
    margin-bottom: 3px;
    margin-left: calc(100% - 25%);
    font-weight: bold;
    color: #FFFFFF;
    padding: 0 5px;
    font-weight: normal;
    font-style: normal;
    background: transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0 0 rgba(0, 0, 0, 0.05);
    border: 0;
}


@media only screen and (max-width: 1124px)
{
    .lastname-label {
        margin-left: calc(100% - 30%);
    }
}


@media only screen and (max-width: 930px)
{
    .lastname-label {
        margin-left: calc(100% - 40%);
    }
}


@media only screen and (max-width: 661px)
{
    .lastname-label {
        margin-left: calc(100% - 50%);
    }
}


@media only screen and (max-width: 600px)
{
    .lastname-label {
        margin-left: calc(100% - 60%);
    }
}


@media only screen and (max-width: 426px)
{
    .lastname-label {
        margin-left: calc(100% - 70%);
    }
}


@media only screen and (max-width: 357px)
{
    .lastname-label {
        margin-left: calc(100% - 80%);
    }
}


@media only screen and (max-width: 312px)
{
    .lastname-label {
        margin-left: calc(100% - 90%);
    }
}


@media only screen and (max-width: 277px)
{
    .lastname-label {
        margin-left: 0;
    }
}


.file-upload-button
{
    width: 100%;
    background: #B22222;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}


.admin-label
{
    width: 100%;
    display: block;
    padding: 2%;
    overflow: auto;
}


.userinfo-label
{
    height: auto;
    width: 25%;
    margin-top: 40px;
    margin-right: 8%;
    margin-left: 4%;
    padding: 2px;
    display: inline-block;
    vertical-align: top;
    font-size: 1.5em;
    line-height: 2em;
}


.admin-widget
{
    height: auto;
    width: 25%;
    margin-top: 40px;
    margin-right: 8%;
    margin-left: 4%;
    padding: 2px;
    display: inline-block;
    vertical-align: top;
}


@media only screen and (max-width: 600px)
{
    .admin-widget {
        width: 90%;
        margin: 6px 5%;
    }

    .userinfo-label {
        width: 90%;
        margin: 6px 5%;
    }

    .continue-button {
        width: 90%;
        margin: 20px 5%;
        padding: 0;
        overflow: hidden;
    }

    .welcome-widget {
        width: 90%;
        font-size: 1.5em;
        margin: 20px 5%;
    }
}


.file-upload-widget
{
    width: 100%;
}


.popup-menu
{
    cursor: pointer;
}


.news-anchor
{
    height: auto;
    width: 100%;
    margin-top: 20px;
    display: block;
    font-size: 2em;
}








